.sticky {
    position: fixed;
    top: -300px;
    width: 100%;
    z-index: 999999;
    box-shadow: 0px 0px 10px 2px #cfcfcf;
    animation-name: hidenTop;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    transition:  0.6s;
    background: #FFFFFF;
}




@keyframes hidenTop {
    from {
        top: -300px;
    }
    to {
        top: 0
    }
}
.sticky .header-logo{
	height: 99px;
}

.sticky .header-logo a svg path{
	fill: #00B259;	
}
.sticky .header-text-street{
	display: none;
}
.sticky  .header-call .wholesale-motor_cirk {
    border: 5px solid #00B259;
    background: #00B259;
}
.sticky  .header-call .wholesale-motor_cirk:after,.sticky  .header-call .wholesale-motor_cirk:before{
	display: none;
}
.sticky .header-menu {
	display: block;
}


header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.header-main{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-block{
	display: flex;
	align-items: center;
}
.header-text-street{
	display: flex;
	align-items: center;
}
.header-text-street p{
	color: #FFFFFF;
	font-size: 15px;
	line-height: 1.3;
    font-family: 'SourceSansPro-Regular';

}
.header-text-street:first-child p{
	max-width: 290px;
	margin-left: 10px;

}
.header-text-street:first-child {
	margin-right: 15px;
}
.header-phone{
	padding-left: 10px;
}
.header-phone a{
	line-height: 1.3;
	color: #FFFFFF;
	font-size: 17px;
    font-family: 'BebasNeue-Regular';
    letter-spacing: 1.3px;

}
.header-call{
	width: 198px;
	margin-left: 15px;

}
.header-call a{
    font-family: 'BebasNeue-Bold';
	width: 100%;
	height: 39px;
	font-size: 17px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
	transition: 0.3s;
}
.header-call .wholesale-motor_cirk {
    border: 5px solid #00B259;

}	
.header-call a:hover{
	background: #00B259;
}
.header-call  .wholesale-motor_cirk:before {
    left: 6px;
    transform: rotate(27deg);
    width: 5px;
    height: 43px;
    background: #00B259;
}
 .header-call .wholesale-motor_cirk:after {
    right: 13px;
    transform: rotate(26deg);
    width: 5px;
    height: 50px;
}


.wholesale-motor-oils{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.wholesale-motor_main{
	height: 768px;
	display: flex;
	align-items: center;
	position: relative;
}

.wholesale-motor_menu{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #00B259;
	border-left: 1px solid #00B259;
	border-right: 1px solid #00B259;
	background: rgba(0,0,0,0.6);
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wholesale-motor_menu ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.wholesale-motor_menu ul li{
	margin: 0 35px;
}
.wholesale-motor_menu ul li a{
	font-size: 17px;
    font-family: 'SourceSansPro-Regular';
	color: #FFFFFF;
}
.wholesale-motor_title h1{
	font-size: 45px;
    font-family: 'BebasNeue-Bold';
	line-height: 1.1;
	color: #FFFFFF;
	text-align: center;
    letter-spacing: 3.9px;

}
.wholesale-motor_title p{
    font-family: 'SourceSansPro-Semibold';
	font-size: 20px;
	line-height: 1.3;
	color: #FFFFFF;
	text-align: center;
	margin-top: 10px;
}
.wholesale-motor_cirk{
	border: 7px solid #00B259;
	padding: 7px;
	position: relative;
    clip-path: polygon(10% 0%, 97.5% 0%, 88% 100%, 0% 100%);
}
.wholesale-motor_cirk:after{
	content: "";
	position: absolute;
    top: -6px;
    right: 15px;
    transform: rotate(28deg);
    width: 7px;
    height: 54px;
    background: #00B259;
}

.wholesale-motor_cirk:before{
	content: "";
	position: absolute;
	top: -11px;
    left: 5px;
    transform: rotate(31deg);
    width: 7px;
    height: 52px;
    background: #00B259;
}

.wholesale-motor_btn{
	margin: 20px auto 0;
	width: 251px;
	height: 43px;
}
.wholesale-motor_content{
	position: relative;
}
.wholesale-motor_content a{
	width: 262px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background:  #00B259;
    clip-path: polygon(10% 0%, 97.5% 0%, 88% 100%, 0% 100%);
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'BebasNeue-Regular';
    position: absolute;
    left: 36%;
    top: 15px;
    transition: 0.3s;
}
.wholesale-motor_content a:hover{
    font-family: 'BebasNeue-Bold';

}







.sidenav>ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidenav ul>li {
    margin: 0 24px;
}
.sidenav>ul>li>a{
      font-size: 19px;
      line-height: 1.363;
    color: #000000;
    position: relative;
  	transition: 0.3s;
    font-family: 'SourceSansPro-Regular';
    border-bottom: 2px solid transparent;
}
.sidenav>ul>li>a:hover{
    border-bottom: 2px solid #00B259;

}



.open-menu {
    display: none;
    width: 42px;
    height: 42px;
    position: relative;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid  #00B259;

    padding: 4px 7px;
}
.open-menu span {
    position: absolute;
    top: 10px;
    width: 32px;
    height: 2px;
    background-color: #00B259;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.close-menu {
    display: none;
    position: absolute;
    right: 15px;

}



.close-menu span:last-child{
    width: 28px!important;

}

.close-menu span:nth-child(2),.close-menu span:nth-child(3) {
    width: 24px!important;

}

.anim-menu {
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.body_fix .for-mobile-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    left: 0;
}

.body_fix {
    width: 100%;
    overflow: hidden;
}

.body_fix .open-menu.close-menu {
    top: 30px;
    right: 0;
    z-index: 9999;
}






